{% extends 'base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center justify-content-center">
    <p class="m-5 text-secondary text-center fs-5 w-50">
        Si l'adresse du compte correspond, un email vous sera envoyer avec les instructions pour créer votre nouveau mot de passe.
        Ce lien va expirer dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p class="text-secondary text-center fs-5 mb-5">Si vous ne recevez pas de mail, vérifiez vos spams <a href="{{ path('app_forgot_password_request') }}" class="text-warning fw-bold">Essayer encore</a>.</p>
</div>
{% endblock %}
