{% extends "base.html.twig" %}

{% block title %}La Nimes'alerie - CGU{% endblock %}

{% block body %}
    <h2 class="text-warning text-center pt-5 fw-bold m-2 m-md-0">Conditions générales de vente</h2>
    <div class="accordion accordion-flush mx-lg-5 mx-2 my-5" id="accordionExample">
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingOne">
            <button class="border_cgu fs-3  text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1.1 <span class="text-secondary">Objet</span>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    Les présentes conditions générales de vente ont pour objet, d'une part, d'informer tout éventuel consommateur sur les conditions et modalités dans lesquelles le vendeur procède à la vente et à la livraison des produits commandés, et d'autre part, de définir les droits et obligations des parties dans le cadre de la vente de produits par le vendeur au consommateur. Elles s'appliquent, sans restriction ni réserves, à l'ensemble des ventes réalisés par la société La Nimes'alerie, des produits proposés sur son site Internet.
                    En conséquence, le fait pour toute personne de commander un produit proposé à la vente sur le site Internet de la société La Nimes'alerie emporte acceptation pleine et entière des présentes conditions générales de vente dont l'Acheteur reconnaît avoir pris connaissance préalablement à sa commande.
                    La société La Nimes'alerie se réserve le droit de modifier à tout moment les présentes conditions générales de vente. Elles seront alors applicables dès leur mise en ligne.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTwo">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">               
                1.2  <span class="text-secondary">Tarifs</span>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    Les prix de vente des produits en ligne sur le site Internet de La Nimes'alerie, indiqués en Euros, sont ceux en vigueur au moment de l'enregistrement du bon de commande par l'Acheteur.
                    Ils ne comprennent pas les frais d'expédition, facturés en supplément du prix des produits achetés suivant le montant de la commande, ni les frais de paiement selon le mode de règlement . Les frais d'expédition et de règlements seront indiqués avant l'enregistrement de la commande par l'Acheteur.
                    Les prix de vente des produits peuvent être modifiés par La Nimes'alerie à tout moment. Cette modification sera signalée à l'Acheteur avant toute commande.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFour">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">               
                1.3  <span class="text-secondary">Caractéristique des produits</span>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    Conformément à l'article L 111-1 du Code de la Consommation, l'Acheteur peut, préalablement à sa commande, prendre connaissance, sur le Site de La Nimes'alerie, des caractéristiques essentielles du ou des produits qu'il désire commander.
                    Les offres présentées par La Nimes'alerie sont valables dans la limite des stocks disponibles. Pour les produits non stockés dans ses entrepôts, les offres présentées par La Nimes'alerie sont valables sous réserve de disponibilités chez ses fournisseurs.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFive">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">               
                1.4  <span class="text-secondary">Commande</span>
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    <p>Le montant minimum d’achat sur La Nimes'alerie est de dix euros (10€) hors frais de port et options.</p>
                    <p>Toute commande suppose l'adhésion aux présentes conditions générales de vente.</p>
                    <p>La commande de l'Acheteur devra être confirmée par La Nimes'alerie, par courrier électronique.</p>
                    <p>La vente ne sera considérée comme définitive qu'après l'envoi à l'Acheteur de la confirmation de la commande par La Nimes'alerie et encaissement par celle-ci de l'intégralité du prix.</p>
                    <p>En cas de commande par carte bancaire, la commande n'est valable qu'après la confirmation de l'organisme bancaire</p>
                    <p>En cas de commande par chèque, la commande n'est valable qu'a la réception du chèque par la société La Nimes'alerie</p>
                    <p>En cas de commande par virement, la commande n'est valable qu'a la confirmation du virement par la banque de la société Zoomalia.</p>
                    <p>En cas de commande par PayPal, la commande n'est valable qu'après la confirmation de PayPal</p>
                    <p>La Nimes'alerie recommande à l'Acheteur de conserver ces informations sur un document papier ou informatique.</p>
                    <p>La société Zoomalia se réserve le droit de ne pas accepter, ou d'annuler une commande d'un client avec lequel un litige existe.</p>
                    <p>Les données enregistrées par le système informatique de Zoomalia constituent la preuve de l'ensemble des transactions passées entre Zoomalia et ses clients.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSix">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">               
                1.5  <span class="text-secondary">Paiement</span>
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    <p>Le paiement doit être réalisé lors de la commande par l'Acheteur. A aucun moment, les sommes versées ne pourront être considérées comme des arrhes ou acomptes.</p>
                    <p>L'encaissement de la totalité du montant de la commande, ou de la première échéance de paiement dans le cas d'un paiement en plusieurs fois, sera effectué par La Nimes'alerie au moment de la validation de la commande ou en cas de paiement par chèque lors de la réception de celui-ci.</p>
                    <p>Toutes les commandes sont payables en Euros.</p>
                    <p>Pour régler sa commande, l'Acheteur dispose de l'ensemble des moyens de paiement visés au sein du bon de commande : Carte bancaire en ligne (Carte bleue, Visa ou Mastercard), Chèque bancaire ou Virement bancaire.</p>
                    <p>La Nimes'alerie se réserve le droit de suspendre ou d'annuler toute commande et/ou livraison, quelle que soit sa nature et niveau d'exécution, en cas de non-paiement de toute somme qui serait due par l'Acheteur ou en cas d'incident de paiement.</p>
                    <p>En cas de recouvrement judiciaire, La Nimes'alerie appliquera l'article L-111-8 du code des procédures civiles d'exécution.</p>
                    <p>En cas de non respect par l'acheteur d'une seule échéance de paiement, et ce, pour quelque raison que ce soit, le vendeur se réserve le droit de suspendre l'exécution des autres commandes en cours jusqu'à complet règlement des montants dus.</p>
                    <p>La Nimes'alerie se réserve le droit de demander une photocopie de la carte d'identité et le justificatif de domicile de l'Acheteur pour tout paiement sur son site internet.</p>
                    <p>Dans le cadre de la lutte contre les fraudes sur Internet, les informations relatives à votre commande pourront être transmises à tout tiers pour vérification.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSeven">
            <button class="border_cgu collapsed fs-4 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">               
                1.5b  <span class="text-secondary">Paiement de votre commande en 3 ou 4 fois par CB à partir de 100€ d’achats et jusqu'à 2000€ avec Oney Bank</span>
            </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Notre partenaire Oney Bank vous propose une solution de financement dénommée 3x 4x Oney, qui permet de payer vos achats à partir de 100€ et jusqu'à 2000€ en 3 ou 4 fois avec votre carte bancaire.</p>
                    <p>Conditions : Cette offre est réservée aux particuliers (personnes physiques majeures) résidant en France et titulaires d’une carte bancaire Visa et MasterCard possédant une date de validité supérieure à la durée du financement choisie. Les cartes à autorisation systématique notamment de type Electron, Maestro, Nickel etc… ainsi que les e-cards, les cartes Indigo et American Express ne sont pas acceptées.</p>
                    <p>Modalités de souscription : Après avoir terminé votre commande, il vous suffit de cliquer sur le « bouton paiement en 3x 4x Oney par carte bancaire ». Vous êtes alors redirigé vers la page internet 3x 4x Oney de notre partenaire affichant le récapitulatif détaillé de votre commande et la demande de financement personnalisée, que vous devez ensuite valider. Vous saisissez vos informations personnelles ou, si vous disposez d’un compte 3x 4x Oney, vous vous identifiez au moyen des identifiants de connexion liés à votre compte 3x 4x Oney. Vous prenez connaissance des conditions générales de paiement en plusieurs fois auxquelles vous souhaitez souscrire qui vous sont fournies sous format PDF afin que vous puissiez les lire, les imprimer et les enregistrer avant de les accepter. Vous notifiez ensuite votre acceptation électronique par la case à cocher correspondante. Vous reconnaissez que le « double clic » associé à la case à cocher sur la prise de connaissance des conditions générales valent consentement à contracter et constituent une acceptation irrévocable et sans réserve des conditions générales du produit.</p>
                    <p>Sauf preuve contraire, les données enregistrées par Oney Bank constituent la preuve de l’ensemble des transactions passées entre vous et Oney Bank. Si vous demandez à bénéficier d’une solution de financement proposée par Oney Bank, les informations en rapport à votre commande seront transmises à Oney Bank, qui les utilisera à des fins d’étude de votre demande pour l’octroi, la gestion et le recouvrement de crédit.</p>
                    <p>Oney Bank se réserve le droit d’accepter ou de refuser votre demande de financement en 3x 4x Oney. Vous disposez d’un délai de rétractation de 14 jours pour renoncer à votre crédit.</p>
                    <p>Fonctionnement : Le paiement en 3 ou 4 fois par carte bancaire vous permet de régler la commande effectuée sur notre site marchand de la façon suivante :</p>
                    <ul>
                        <li>un apport obligatoire, débité le jour de la confirmation de l’expédition de votre commande</li>
                        <li>deux ou trois mensualités, correspondant chacune à un tiers ou un quart de la commande, prélevées à 30 et 60 jours après pour le 3 fois et à 30, 60 et 90 jours après pour le 4 fois, lesquelles comprennent des frais correspondants à 1,45% du montant total de la commande pour un 3 fois et à 2,2 % pour un 4 fois (dans la limite de 15€ maximum pour un paiement en 3 fois et de 30€ maximum pour un 4 fois).</li>
                    </ul>
                    <p>Le paiement en 3 fois à partir de 100€ d’achat et jusqu’à 2000€</p>
                    <p>Exemple : Pour un achat de 150€, apport de 52,18€ puis 2 mensualités de 50€.</p>
                    <p>Crédit d’une durée de 2 mois au TAEG fixe de 19,26%. Coût du financement : 2,18€ dans la limite de 15€ maximum.</p>
                    <p>Le paiement en 4 fois à partir de 100€ d’achat et jusqu’à 2000€</p>
                    <p>Exemple : Pour un achat de 400€, apport de 108,80€ puis 3 mensualités de 100€.</p>
                    <p>Crédit sur 3 mois au TAEG fixe de 19,31%. Coût du financement : 8,80€ dans la limite de 30€ maximum.</p>
                    <p>Oney Bank - SA au capital de 51 286 585€ - Siège social : 40 avenue de Flandre 59170 CROIX - RCS Lille Métropole 546 380 197 - n° Orias : 07 023 261 - www.orias.fr - Correspondance : CS 60006 - 59 895 Lille Cedex 9 - www.oney.fr</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingEight">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">               
                1.6  <span class="text-secondary">Choix des produits</span>
            </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>L'Acheteur ayant pris connaissance des produits et de leurs caractéristiques, commercialisés par La Nimes'alerie, a sous sa seule responsabilité et en fonction de ses besoins tels qu'ils les a préalablement déterminés avant toute commande, porté son choix sur le ou les produits faisant l'objet de sa commande. En outre, l'Acheteur connaissant seul les produits qu'il possède et utilise, est seul juge de la compatibilité des produits commandés avec ceux utilisés par lui. </p>
                    <p>La Nimes'alerie met à la disposition de l'acheteur pour l'aider dans le choix :</p>
                    <p>- un service d'aide par mail dont les adresses sont indiquées dans la rubrique \"contactez-nous\" </p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingNine">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">               
                1.7  <span class="text-secondary">Livraison et réception</span>
            </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                   <h5 class="text-warning">1.7.1.<span class="text-secondary"> Règles générales </span></h5>
                   <p>Les produits seront livrés à l'adresse indiquée par l'Acheteur sur le bon de commande, en France métropolitaine et en Corse. Zoomalia ne livre pas l'étranger et les DOM-TOMS</p>
                   <p>L'Acheteur peut, à sa demande expresse, obtenir l'envoi de la facture à l'adresse de facturation et non à l'adresse de livraison en validant l'option prévue à cet effet sur le bon de commande.</p>
                   <p>En cas d'erreur dans le libellé des coordonnées du destinataire, la société Zoomalia ne saurait être tenu pour responsable de l'impossibilité de livraison.</p>
                   <h5 class="text-warning">1.7.2.<span class="text-secondary"> Délais </span></h5>
                   <p>Tous les délais sont exprimés en jours ouvrés (tous les jours sauf le samedi et le dimanche).</p>
                   <p>Il convient de différencier les délais de livraison des délais d’expédition. </p>
                   <p>Les délais moyens d'expédition sont indiqués sur la page de confirmation du panier ou directement sur la fiche produit selon les marques. </p>
                   <p>Pour les produits hors normes, les frais de livraison sont calculés à partir du poids, du volume et de la nature des articles présents dans votre panier.</p>
                   <p>La sélection du transporteur adapté à votre commande se fait automatiquement lors de son traitement par l’équipe Zoomalia.</p>
                   <p>Les délais d’acheminement moyens au départ de notre entrepôt sont de 24 à 48h pour la France métropolitaine.</p>
                   <p>Pour la livraison des produits de nature très spécifiques (du type aquarium ou volière), Zoomalia utilise des transporteurs spécialisés.</p>
                   <p>Les délais de livraison à partir de l’expédition de notre entrepôt peuvent donc varier de 1 à 5 jours ouvrables.</p>
                   <p>Les délais moyens à partir du départ de l'entrepôt sont les suivants :</p>
                   <ul>
                       <li>COLISSIMO : 48 à 72h heures </li>
                       <li>Messagerie : 2 à 5 jours</li>
                   </ul>
                   <p>Ces délais sont communiqués à titre indicatif.</p>
                   <p>En cas de retard de livraison par rapport à la date initialement fixée, l'Acheteur devra le signaler par écrit (courrier, télécopie, mail) à La Nimes'alerie afin d'améliorer la qualité de service qui pourra lui être proposée et de permettre à La Nimes'alerie de procéder à une enquête auprès du transporteur. </p>
                   <p>Une enquête auprès du transporteur peut durer jusqu'à 21 jours ouvrés. Si pendant ce délai, le produit est retrouvé, il sera immédiatement ré-acheminé au lieu de livraison désigné dans le bon de commande. </p>
                   <h5 class="text-warning">1.7.3. <span class="text-secondary">Réception </span></h5>
                   <p>Livraison par La Poste ou Messagerie</p>
                   <p>Lors de la réception de votre colis, vous devez :</p>
                   <ul>
                       <li>Vérifier la conformité de la marchandise livrée au moment de la livraison en ouvrant votre colis en présence du transporteur.</li>
                       <li>Indiquer toute anomalie sur le bon de livraison sous forme de réserve manuscrite précise (tel que meuble cassé, sachet de graines ouvert…) accompagnée de votre signature. Attention, les mentions du type « sous réserve de déballage », « sous réserve de contrôle » n'ont aucune valeur juridique et ne seront pas recevable en cas de litige. Si le colis est trop abimé, refusez tout simplement la livraison.</li>
                       <li>Prévenez ensuite le service client de Zoomalia par mail ou par téléphone qui se chargera d'enclencher une enquête auprès du transporteur. Une enquête peut durer jusqu'a 21 jours ouvrés.</li>
                   </ul>
                   <p>Dans tous les cas, le client s’engage à fournir toutes les preuves permettant à Zoomalia de porter réclamation auprès du transporteur.</p>
                   <strong>Livraison par Transporteur Spécialisé</strong>
                   <p>Dans le cas de livraison de produits volumineux, lourds, ou fragiles par messagerie, vérifiez l'état de la marchandise. Si un produit est détérioré marquez le sur le bon de livraison et spécifiez que l'emballage est abimé. Par exemple \"Palette abîmée, un des terrariums est cassé\".</p>
                   <p>Le transporteur assure la livraison en bas de votre immeuble. Pensez à prévoir toute assistance nécessaire si la commande contient un élément lourd que vous ne pourrez manutentionner seul.</p>
                   <p>En cas d’absence lors de la livraison, le transporteur laissera un avis de passage. Sur cet avis figurera :</p>
                   <ul>
                       <li>soit un numéro de téléphone, afin de convenir d'un nouveau jour de livraison,</li>
                       <li>soit le nom du point Relais où le colis a été déposé (le plus proche de l’adresse de livraison initialement prévu). Le client possède un délai de 10 jours pour récupérer son colis. Les colis non-récupérés dans les temps seront retournés à Zoomalia.</li>
                   </ul>
                   <p>En cas de retour du colis dû à une absence du client, à un problème dans l'adresse de livraison, ou à une impossibilité de récupérer la marchandise, Zoomalia facturera les frais de réexpéditions au client.</p>
                   <p>Zoomalia ne peut être tenu responsable en cas de grève, d'intempéries ou d'autres perturbations qui donneraient du retard à la livraison.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">               
                1.8  <span class="text-secondary">Disponibilités des produits</span>
            </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>En cas de disponibilité partielle des articles, La Nimes'alerie pourra faire une livraison scindée. Les produits en stock seront envoyés dans un premier temps. Le reliquat sera, soit livré ultérieurement, soit remplacé par un autre matériel (en accord avec l’Acheteur), soit remboursé. </p>
                    <p>Dans tous les cas, La Nimes'alerie informera l'Acheteur au plus tôt. </p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingEleven">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">               
                1.9  <span class="text-secondary">Problèmes de qualité ou de conformité</span>
            </button>
            </h2>
            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>En cas de non conformité de la commande (délais, produit défectueux ou non conforme à la description), l'Acheteur doit formuler sa réclamation auprès du Service Client depuis l'espace client ou par téléphone au +33554540024 (numéro gratuit du lundi au vendredi de 10h à 12h et de 14h à 16h, pour les clients munis de leur numéro de commande) (voir article 1.11)</p>
                    <p>Les réclamations doivent être adressées par lettre ou par email et devront comporter : </p>
                    <ul>
                        <li>les coordonnées de l'Acheteur.</li>
                        <li>les références du produit.</li>
                        <li>le numéro de commande.</li>
                        <li>les motifs de la réclamation.</li>
                    </ul>
                    <p>Le retour des produits devra être fait dans un délai de quatorze jours ouvrés à compter de l'attribution d'un numéro de retour par le service client de La Nimes'alerie.</p>
                    <p>Tout produit à échanger ou à rembourser devra être retourné à La Nimes'alerie dans son état et emballage d'origine et comporter l'ensemble du produit et de ses accessoires.</p>
                    <p>Tout risque lié au retour du produit est à la charge de l'Acheteur.</p>
                    <p>Faute de respect de la procédure exposée ci-dessus et des délais indiqués, l'Acheteur ne pourra formuler aucune réclamation pour non-conformité ou vice apparent des produits livrés, les produits étant alors réputés conformes et exempts de tout vice apparent.</p>
                    <p>Les frais de retour seront alors remboursés au client, sur présentation d’un justificatif de La Poste, par chèque ou sous forme d’avoir en fonction du choix du client.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingEleven">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEleven" aria-expanded="false" aria-controls="collapseEleven">               
                1.10  <span class="text-secondary">Droit de Rétractation</span>
            </button>
            </h2>
            <div id="collapseEleven" class="accordion-collapse collapse" aria-labelledby="headingEleven" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>L'acheteur a le droit de se rétracter du présent contrat sans donner de motif dans un délai de quatorze jours.</p>
                    <p>et désigné par l'acheteur, prend physiquement possession du dernier bien".</p>
                    <p><strong>Concernant l'exercice du droit de rétractation :</strong></p>
                    <p>Pour exercer le droit de rétractation, l'acheteur doit nous notifier (soit par courrier électronique via son compte La Nimes'alerie soit par courrier à l'adresse suivante: La Nimes'alerie service Clients - 651 route du pays de Gosse, 40230 St Geours de Maremne- France) sa décision de rétractation du présent contrat au moyen d'une déclaration dénuée d'ambiguïté.</p>
                    <p>Pour que le délai de rétractation soit respecté, il suffit que l'acheteur transmette sa communication relative à l'exercice du droit de rétractation avant l'expiration du délai de rétractation.</p>
                    <p>L'acheteur peut également remplir et transmettre le modèle de formulaire type de rétractation (disponible sur son compte client pendant 20 jours) ou toute autre déclaration dénuée d'ambiguïté, sur notre site internet via son compte client http://www.La Nimes'alerie/mesachats/commandes/</p>
                    <p>Un numéro de retour sera communiqué par La Nimes'alerie, il sera à inscrire impérativement sur l’emballage.</p>
                    <p>Les produits doivent impérativement être retournés à La Nimes'alerie dans un parfait état de revente, dans leur état d'origine (emballage, accessoires, notice…), dûment scellés, et accompagnés de la facture correspondant à l'achat.</p>
                    <p>Si le produit comporte une feuille de garantie ou tout autre document à compléter, celui-ci ne devra pas être rempli afin que l'acheteur puisse exercer son droit de rétractation.</p>
                    <p>Pour la reprise des produits ouverts, Zoomalia appliquera une décote sur le produit facturé :</p>
                    <ul>
                        <li>Pour les produits ouverts, mais dont la revente en produit neuf est possible, Zoomalia appliquera une décote de 10%</li>
                        <li>Pour les articles dont l’emballage ne permet pas de revente au prix du neuf, la décote sera de 20%.</li>
                        <li>Pour les produits montés, utilisés puis démontés (produits bois notamment), une décote de 40% sera appliquée sur le prix du produit facturé.</li>
                    </ul>
                    <p>Les articles personnalisés (médailles etc.) ne sont ni repris, ni échangés, ni remboursés. Les frais de retour sont à la charge du client.</p>
                    <p><strong>Effets de rétractation :</strong></p>
                    <p>En cas de rétractation de la part du client du présent contrat, La Nimes'alerie rembourse tous les paiements reçus de l'acheteur , y compris les frais de livraison (à l'exception des frais supplémentaires découlant du fait que l'acheteur ait choisi, le cas échéant, un mode de livraison autre que le mode moins coûteux de livraison standard proposé par La Nimes'alerie) sans retard excessif et, en tout état de cause, au plus tard quatorze jours à compter du jour où nous sommes informés de votre décision de rétractation du présent contrat. La Nimes'alerie procédera au remboursement en utilisant le même moyen de paiement que celui que l'acheteur aura utilisé pour la transaction initiale, sauf si La Nimes'alerie et l'acheteur convienne expressément d'un moyen différent ( exemple : attribution d'un avoir à valoir sur La Nimes'alerie...); en tout état de cause, ce remboursement n'occasionnera pas de frais pour l'acheteur.</p>
                    <p>La Nimes'alerie peut différer le remboursement jusqu'à ce que le "service RETOUR" ait reçu le bien ou jusqu'à ce que l'acheteur ait fourni une preuve d'expédition du bien, la date retenue étant celle du premier de ces faits.</p>
                    <p>L'acheteur doit renvoyer ou rendre le bien, à La Nimes'alerie "Service Retours" - 651 route du pays de Gosse, 40230 St Geours de Maremne- France sans retard excessif et, en tout état de cause, au plus tard quatorze jours après que vous nous aurez communiqué votre décision de rétractation du présent contrat.</p>
                    <p>Ce délai est réputé respecté si vous renvoyez le bien avant l'expiration du délai de quatorze jours.</p>
                    <p>L'acheteur doit prendre en charge les frais directs de renvoi du bien. Ces frais sont estimés à un maximum d'environ 44 EUR pour un colis de plus de 30KG.</p>
                    <p><strong>Retour dans le cadre d'une rétractation :</strong></p>
                    <p>Le client peut retourner le colis avec le transporteur de son choix.</p>
                    <p>Si le colis arrive endommagé, Zoomalia se réserve le droit :</p>
                    <ul>
                        <li>De refuser le colis afin que le client puisse ouvrir un litige auprès de son transporteur,</li>
                        <li>D'accepter le colis avec réserves. Le Service des retours Zoomalia informera le client des dommages pour que celui-ci puisse ouvrir un litige auprès de son transporteur.</li>
                    </ul>
                    <p>Dans tous les cas, si un article retourné est endommagé durant le transport, Zoomalia ne pourra rembourser celui-ci. Le Client devra demander remboursement directement auprès de son transporteur.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTwelve">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwelve" aria-expanded="false" aria-controls="collapseTwelve">               
                1.11  <span class="text-secondary">Garantie</span>
            </button>
            </h2>
            <div id="collapseTwelve" class="accordion-collapse collapse" aria-labelledby="headingTwelve" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Certains produits vendus peuvent également bénéficier d’une garantie commerciale dite « Garantie Fabricant » à laquelle Zoomalia n’est pas partie. Zoomalia ne saurait donc être tenue pour responsable en cas de refus du fabricant d’appliquer sa garantie.</p>
                    <p>L’étendue et la durée de cette garantie varie d’un fournisseur à l'autre. L’acheteur peut consulter les termes exacts des garanties sur le site Internet du fabricant et dans la notice du Produit.</p>
                    <h5 class="text-warning">1.11.1 <span class="text-secondary">Garantie Légales</span></h5>
                    <p>Tous les Produits en vente sur le Site Internet bénéficient de la garantie légale de conformité (articles L217-1 et suivant du Code de la consommation) et de la garantie contre les vices cachés (articles 1641 et suivants du Code civil), permettant à l’acheteur de renvoyer les Produits livrés défectueux ou non conformes.</p>
                    <p>L’acheteur est informé que la société Zoomalia, dont le siège social est est le garant de la conformité des Produits au contrat dans le cadre de ces deux garanties légales.</p>
                    <p>L’acheteur dispose d’un délai de deux ans à compter de la délivrance du Produit pour agir en application de la garantie légale de conformité.</p>
                    <p>Dans ce cas, l’acheteur peut choisir entre la réparation ou le remplacement du Produit, sous réserve des conditions de coût prévues par l’article L217-9 du Code de la consommation.</p>
                    <p>Pour les contrats conclus à compter du 18 mars 2016, l’acheteur est dispensé de rapporter la preuve de l’existence du défaut de conformité du Produit durant les vingt-quatre (24) mois suivant la délivrance du Produit. Pour les contrats conclus antérieurement, le défaut est présumé pendant six (6) mois.</p>
                    <p>Il est rappelé que la garantie légale de conformité s’applique indépendamment de l’éventuelle garantie commerciale qui pourrait vous être consentie par le fabricant ou Zoomalia.</p>
                    <p>Par ailleurs, l’acheteur peut décider de mettre en œuvre la garantie contre les défauts cachés de la chose vendue au sens de l’article 1641 du Code civil. Dans cette hypothèse, l’acheteur peut choisir entre la résolution de la vente ou une réduction du prix de vente conformément à l’article 1644 du Code civil.</p>
                    <p>Article L217-4 du Code de la consommation : Le vendeur livre un bien conforme au contrat et répond des défauts de conformité existant lors de la délivrance. Il répond également des défauts de conformité résultant de l'emballage, des instructions de montage ou de l'installation lorsque celle-ci a été mise à sa charge par le contrat ou a été réalisée sous sa responsabilité.</p>
                    <p>Article L217-5 du Code de la consommation : Le bien est conforme au contrat :</p>
                    <ul>
                        <li>1. S’il est propre à l'usage habituellement attendu d'un bien semblable et, le cas échéant :</li>
                        <li>s’il correspond à la description donnée par le vendeur et possède les qualités que celui-ci a présentées à l'acheteur sous forme d'échantillon ou de modèle ;</li>
                        <li>s’il présente les qualités qu'un acheteur peut légitimement attendre eu égard aux déclarations publiques faites par le vendeur, par le producteur ou par son représentant, notamment dans la publicité ou l'étiquetage ;</li>
                        <li>2. Ou s’il présente les caractéristiques définies d'un commun accord par les parties ou est propre à tout usage spécial recherché par l'acheteur, porté à la connaissance du vendeur et que ce dernier a accepté.</li>
                        <li>Article L217-12 du Code de la consommation : L'action résultant du défaut de conformité se prescrit par deux ans à compter de la délivrance du bien.</li>
                        <li>Article L217-16 du Code de la consommation : Lorsque l'acheteur demande au vendeur, pendant le cours de la garantie commerciale qui lui a été consentie lors de l'acquisition ou de la réparation d'un bien meuble, une remise en état couverte par la garantie, toute période d'immobilisation d'au moins sept jours vient s'ajouter à la durée de la garantie qui restait à courir. Cette période court à compter de la demande d'intervention de l'acheteur ou de la mise à disposition pour réparation du bien en cause, si cette mise à disposition est postérieure à la demande d'intervention.</li>
                        <li>Article 1641 du Code civil : Le vendeur est tenu de la garantie à raison des défauts cachés de la chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet usage, que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait connus.</li>
                        <li>Article 1648 al 1er du Code civil : L'action résultant des vices rédhibitoires doit être intentée par l'acquéreur dans un délai de deux ans à compter de la découverte du vice.</li>
                    </ul>
                    <h5 class="text-warning">1.11.2 <span class="text-secondary">Garanties commerciales</span></h5>
                    <p>Certains produits vendus peuvent également bénéficier d’une garantie commerciale dite « Garantie Fabricant » à laquelle Zoomalia n’est pas partie. Zoomalia ne saurait donc être tenue pour responsable en cas de refus du fabricant d’appliquer sa garantie. L’étendue et la durée de cette garantie varie d’un fournisseur à l'autre. L’acheteur peut consulter les termes exacts des garanties sur le site Internet du fabricant et dans la notice du Produit.</p>
                    <p>Tout retour du produit au titre de la garantie précitée doit faire l'objet d’une vérification de base par La Nimes'alerie pour constater la défaillance du produit. A cette fin, l'Acheteur prendra contact avec le service après-vente de Zoomalia.</p>
                    <p>Si le produit est reconnu comme défectueux, La Nimes'alerie transmettra à l'acheteur un numéro de retour de produit. Ce numéro de retour, condition déterminante et indispensable est valable quatorze jours ouvrés, à compter de la communication du numéro de retour par La Nimes'alerie à l'Acheteur. Passé ce délai, l'Acheteur devra renouveler sa demande, selon la procédure décrite ci-dessus.</p>
                    <p>Le produit défectueux doit être retourné dans son emballage d'origine, comporter l'ensemble du produit et de ses accessoires et être accompagné de façon lisible du numéro de retour de produit communiqué par La Nimes'alerie et du numéro de série du produit. </p>
                    <p>Tout produit incomplet, abîmé, endommagé et/ou dont l'emballage d'origine aura été détérioré, ne sera ni repris ni échangé dans le cadre de la garantie. </p>
                    <p>Tous les frais et risques liés au transport du produit retourné sont à la charge de l'Acheteur.</p>
                    <p>Le produit sous garantie sera, au choix du fabricant, échangé ou réparé.</p>
                    <p>La Nimes'alerie ne garantit l'Acheteur, au titre des vices cachés pouvant affecter les produits livrés, que dans le cadre d'un remplacement des produits défectueux, ou des pièces les rendant impropres à leur usage, sans pouvoir être considéré par l'Acheteur comme responsable des éventuelles conséquences dommageables que ces vices cachés auraient pu entraîner. </p>
                    <p>En tout état de cause, les garanties ne couvrent pas :</p>
                    <ul>
                        <li>le remplacement des consommables.</li>
                        <li>l'utilisation anormale et non conforme des produits.</li>
                        <li>les dommages faisant l'objet d'une mention spécifique dans les fiches article.</li>
                        <li>les défauts et leurs conséquences dus à l'intervention de l'Acheteur ou d'un réparateur non agréé par La Nimes'alerie.</li>
                        <li>les défauts et leurs conséquences liées à l'utilisation non conforme à l'usage auquel le produit est destiné (utilisation professionnelle, collective …)</li>
                        <li>les produits faisant l'objet d'un contrat d'assistance et de maintenance spécifique.</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingThirteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThirteen" aria-expanded="false" aria-controls="collapseThirteen">               
                1.12  <span class="text-secondary">Responsabilité</span>
            </button>
            </h2>
            <div id="collapseThirteen" class="accordion-collapse collapse" aria-labelledby="headingThirteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Les produits proposés par La Nimes'alerie sont conformes à la législation française en vigueur. </p>
                    <p>La Nimes'alerie ne pourra être tenue pour responsable de l'inexécution du contrat en cas de rupture de stock ou indisponibilité du produit, de force majeure, de perturbation ou grève totale ou partielle notamment des services postaux et moyens de transport et/ou communications. </p>
                    <p>La Nimes'alerie ne pourra être tenue pour responsable de tous dommages indirects qui pourraient survenir du fait de l'achat des produits. </p>
                    <p>L'impossibilité totale ou partielle d'utiliser les produits, en raison notamment d'une incompatibilité de matériel ne peut engager la responsabilité de La Nimes'alerie ni donner lieu à aucun dédommagement ou remboursement. </p>
                    <p>Le site La Nimes'alerie contient également des informations provenant de tierces personnes, et des liens vers d'autres sites Internet. La Nimes'alerie ne pourra en aucun cas être tenue pour responsable des dommages résultant de l'utilisation, de l'accès à, ou de l'incapacité à utiliser ces informations tierces, ni au contenu des autres sites Internet.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFourteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFourteen" aria-expanded="false" aria-controls="collapseFourteen">               
                1.13  <span class="text-secondary">Non validité partielle, non renonciation, loi applicable</span>
            </button>
            </h2>
            <div id="collapseFourteen" class="accordion-collapse collapse" aria-labelledby="headingFourteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Si une ou plusieurs stipulations des présentes conditions générales de vente sont tenues pour non valides ou déclarées comme telles en application d'une loi, d'un règlement ou à la suite d'une décision définitive d'une juridiction compétente, les autres stipulations garderont toute leur force et leur portée. </p>
                    <p>Le fait pour l'une des parties de ne pas se prévaloir d'un manquement auprès de l'autre partie à l'une quelconque des obligations visées au sein des présentes conditions générales de vente ne saurait être interprété pour l'avenir comme une renonciation à l'obligation en cause.</p>
                    <p>Les ventes de produits de la société La Nimes'alerie sont soumises à la loi française</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFifthteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFithfteen" aria-expanded="false" aria-controls="collapseFithfteen">               
                1.14  <span class="text-secondary">Informatique et Libertés, Données personnelles (RGPD)</span>
            </button>
            </h2>
            <div id="collapseFithfteen" class="accordion-collapse collapse" aria-labelledby="headingFifthteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Les informations collectées par La Nimes'alerie lors de toute commande de l'Acheteur sont nécessaires pour la gestion de sa commande par La Nimes'alerie et ses partenaires commerciaux. Conformément à la loi Informatique et Libertés n°78-17 du 6 janvier 1978, l'Acheteur dispose d'un droit d'accès, de rectification, d'opposition et de suppression aux données le concernant auprès de La Nimes'alerie. </p>
                    <p>Afin d’avoir plus d’informations sur la protection et le traitement de vos données à caractère personnel (RGPD) ainsi que sur les cookies, nous vous invitons à consulter notre page "Politique de confidentialité" accessible à tout moment en bas du site.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSixteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSixteen" aria-expanded="false" aria-controls="collapseSixteen">               
                1.15  <span class="text-secondary">Litiges</span>
            </button>
            </h2>
            <div id="collapseSixteen" class="accordion-collapse collapse" aria-labelledby="headingSixteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Les présentes conditions générales sont soumises à la loi française en ce qui concerne les règles de fond comme les règles de forme. Tout litige devra faire l'objet d'une tentative de règlement amiable.</p>
                    <p>Selon l'article R631-3 du code de la consommation : L'acheteur peut saisir soit l'une des juridictions territorialement compétente en vertu du code de la procédure civile, soit la juridiction du lieu ou il demeutait au moment de la conclusion du contrat ou de la survenance du fait dommageable.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSeventeen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeventeen" aria-expanded="false" aria-controls="collapseSeventeen">               
                1.16  <span class="text-secondary">Médiation de la consommation</span>
            </button>
            </h2>
            <div id="collapseSeventeen" class="accordion-collapse collapse" aria-labelledby="headingSeventeen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Conformément aux dispositions des articles L 611-1,R.631-3 et R 612-1 et suivants du Code de la Consommation concernant le règlement amiable des litiges : Lorsque le consommateur a adressé une réclamation écrite à , via son compte client (https://www.La Nimes'alerie/compte/) ou par Mail à contact@La Nimes'alerie et qu’il n’a pas obtenu satisfaction ou de réponse dans un délai de deux mois, il peut soumettre gratuitement sa réclamation au médiateur de la consommation. Le médiateur doit être saisi dans le délai maximal d’un an à compter de la réclamation initiale.</p>
                    <p>Le médiateur MEDIATION-NET peut être saisi directement en ligne à l'adresse suivante : www.mediation-net-consommation.com - ou par courrier MEDIATION-NET Consommation - 34, rue des Épinettes - 75017 PARIS "</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingEighteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEighteen" aria-expanded="false" aria-controls="collapseEighteen">               
                1.17  <span class="text-secondary">Communauté - Annuaire</span>
            </button>
            </h2>
            <div id="collapseEighteen" class="accordion-collapse collapse" aria-labelledby="headingEighteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>2.1.1 - La société Zoomalia met à disposition un Service d'hébergement de Contenus numériques produits par les Utilisateurs, intitulé « Communauté ». Chaque Utilisateur a la possibilité de publier sous sa pleine et entière responsabilité une ou plusieurs pages (regroupées sous le terme d‘articles de la communauté) le présentant aux autres Utilisateurs du Service ainsi qu'à l'ensemble des Visiteurs.</p>
                    <p>2.1.2 - L'insertion de Contenus numériques est effectuée à l'aide du navigateur de l'Utilisateur, de terminaux mobiles le cas échéant, ou grâce à un autre procédé technique d'entrée des données. Les articles de la communauté ne doivent contenir aucune information contraire à l'ordre public ou aux bonnes mœurs. En conséquence, la société Zoomalia ne garantit pas la véracité, la probité ou l'honnêteté de ce Contenu. La société Zoomalia ne pourra être tenue pour responsable des fausses déclarations faites par un Utilisateur.</p>
                    <p>2.1.3 - Dans le cadre de l'utilisation du Service, l'Utilisateur s'interdit de divulguer des informations permettant l'identification nominative et précise des autres Utilisateurs ou de toute personne physique ou morale, tels que nom de famille, adresse postale et/ou électronique et téléphone. Il est également recommandé à l'Utilisateur de ne pas divulguer sur le Service des informations permettant son identification nominative et précise.</p>
                    <p>2.1.4 - L'Utilisateur est expressément informé que les Contenus numériques associés et présentés sur ses articles de la communauté sont sous sa seule responsabilité. Par conséquent, seul le titulaire du Compte ayant renseigné la fiche d'identification assumera la responsabilité tant civile que pénale des Contenus associés et présentés sur son article de la communauté en sa qualité d'auteur et d'éditeur de l’article de la communauté. L'Utilisateur étant seul responsable des Contenus associés et présentés sur son article de la communauté, il s'engage à ce que le Contenu de cet article de la communauté ne contienne aucun élément susceptible d'être contraire aux lois et règlements en vigueur, dans le pays depuis lequel il accède au Service ou dans le pays où ces Contenus sont destinés à être reçus. Il s’engage également à ce que le Contenu de cet article ne contienne aucun élément susceptible de causer un dommage à un tiers ou de violer les règles posées par l'article VI-3 ci- dessous. Par ailleurs, l'Utilisateur reconnaît et accepte d'ores et déjà que la société Zoomalia conserve sans limitation de durée le Contenu des articles de la communauté hébergés rendus anonymes.</p>
                    <p>2.1.5 - L'Utilisateur déclare être le propriétaire de tous les Contenus associés et présentés sur son article de la communauté et qu'ils sont libres de tout droit. A défaut, l'Utilisateur est réputé disposer de l'autorisation du titulaire des droits d'un Contenu qu'il associerait à son article de la communauté. L'Utilisateur ne peut enregistrer ou transmettre des Contenus qui enfreignent les droits de propriété intellectuelle d'autres personnes, comme des textes, des images de personnes ou de biens, des secrets commerciaux, des informations internes ou confidentielles, cette énumération n'étant pas limitative.</p>
                    <p>2.1.6 - L'Utilisateur s'engage à ce que chaque personne représentée ait donné son accord pour l'utilisation et la diffusion de son image.</p>
                    <p>2.1.7 - Pour rappel : Le Code français de la propriété intellectuelle n'autorisant, aux termes des paragraphes 2° et 3° de l'article L.122-5, d'une part, que \"les copies ou reproductions strictement réservées à l'usage privé du copiste et non destinées à une utilisation collective\" et, d'autre part, sous réserve du nom de l'auteur et de la source, que \"les analyses et les courtes citations justifiées par le caractère critique, polémique, pédagogique, scientifique ou d'information\", toute représentation ou reproduction intégrale ou partielle, faite sans consentement de l'auteur ou de ses ayants droit, est illicite (art. L.122-4). Toute représentation ou reproduction, par quelque procédé que ce soit, notamment par téléchargement ou sortie imprimante, constituera donc une contrefaçon sanctionnée par les articles L.335-2 et suivants du Code français de la propriété intellectuelle. Toute violation de ces dispositions rend le contrevenant, ainsi que toutes les personnes responsables, passibles des peines pénales et civiles prévues par la loi. En conséquence de quoi, les Contenus de l'Utilisateur sont protégés par le Code de Propriété Intellectuelle, par le secret d'affaire, par les droits de concédants de licence qui rendent ces données disponibles sur Internet, ainsi que par tout autre droit de tiers, ci-après collectivement désignés les "Droits".</p>
                    <p>2.1.8 - Cela nécessite que l'Utilisateur s'engage à respecter les lois et réglementations en vigueur et à n'utiliser que des Contenus (textes, photos...) dont il dispose des Droits, pour lesquels le titulaire des Droits a donné son consentement exprès pour sa diffusion, ou qui sont libres de tout Droit. L'Utilisateur dégage la société Zoomalia de toutes réclamations éventuelles de tiers à son encontre en raison de la violation de leurs Droits ou en raison du comportement d'un autre Utilisateur qui violerait une législation applicable.</p>
                    <p>2.1.9 - Conformément à l'article 323-1 du Code Pénal (Ordonnance n° 2000-916 du 19 septembre 2000 art. 3 Journal Officiel du 22 septembre 2000 en vigueur le 1er janvier 2002) qui précise, entre autre «que le fait d'accéder ou de se maintenir frauduleusement, dans tout ou partie d'un système de traitement automatisé de données, est puni de 2 ans d'emprisonnement et de 30 000 euros d'amende.». L'Utilisateur s'interdit de revenir via une autre connexion ou une autre adresse IP après avoir été exclu temporairement ou définitivement du site.</p>
                    <p>2.1.10 - La société Zoomalia se réserve le droit de déplacer un article d’un thème à un autre, ou d’une catégorie à une autre, sans aucun préavis ni aucune mise en demeure.</p>
                    <p>2.1.11 - La société Zoomalia se réserve le droit de ne pas publier un article si celui-ci ne serait pas rédigé en bon français ou si le thème de cet article ne respecterait pas l’une des catégories proposées sur le site.</p>
                    <p>2.1.12 - La société Zoomalia se réserve le droit de supprimer tout article qu’elle jugerait raciste, pornographique, xénophobe ou contraire aux bonnes mœurs.</p>
                    <p>2.1.13 - Communauté - utilisation des images et vidéos déposées par l'internaute (avis et jeux-concours)</p>
                    <p>Utilisations des images et vidéos déposées par l’internaute (avis et jeux et concours). En participant aux jeux concours organisés par Zoomalia, ou en postant vos photos ou vidéos sur les fiches produits des sites Zoomalia, vous autorisez l'utilisation de vos textes et de vos images et vidéos par E2Evolution, Zoomalia et Zoomapau dans différentes rubriques de son site (Univers produit, Communauté, Fonds d'écran…) et sa page Facebook, Instagram, Youtubre, Google+, Pinterest, Flikr, autres supports réseaux sociaux (liste non exhaustives) son compte Twitter, dans ses magasins, dans le cadre de la promotion de ces concours et de ses résultats en général. Vous certifiez être l'auteur des images et des textes déposés et qu’à votre connaissance, leur diffusion n'enfreint pas la législation sur les droits d'auteurs. Dans le cas où le contraire serait prouvé, la participation au concours sera considérée comme nulle et les photographies supprimées sur simple demande des ayants droits. L'utilisation de ces textes et images ne pourra donner lieu à un versement de droit d'auteur ou à une rétribution sous quelque forme que ce soit. Vous serez également vigilants sur le fait de ne pas donner d’indication géographique précise, de pas mettre de photos de personnes reconnaissables sauf avec leurs accords, une attention particulière doit être accordée pour les photos représentant des enfants. Ces textes et ces images seront toujours utilisés dans le respect de ses intentions originales. Ces contributions seront supprimées sur simple demande de l'auteur précisant les URL concernées. Zoomalia se réserve la possibilité de supprimer à tout moment les photos ou vidéos ne respectant pas ces conditions, sans préavis et s'engage à retirer toute image ne respectant pas les règles de droit à l'image ou de droits d'utilisation sur simple demande motivée.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingNineteen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNineteen" aria-expanded="false" aria-controls="collapseNineteen">               
                1.18  <span class="text-secondary">Dispositions générales</span>
            </button>
            </h2>
            <div id="collapseNineteen" class="accordion-collapse collapse" aria-labelledby="headingNineteen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p><strong>Siège social de la société :</strong></p>
                    <p>SAS au capital de 13 117,50€</p>
                    <p>Siret : 51165643100083</p>
                    <p>N° de TVA communautaire : FR 80 511 656 431</p>
                    <p>2.2.1 - La société Zoomalia pourra supprimer tout message contraire à la loi ou aux bonnes mœurs, sans préavis ni préjudice des droits du rédacteur.</p>
                    <p>2.2.2 - La société Zoomalia peut, sans préavis ni indemnité, suspendre temporairement ou définitivement l’accès au site. Elle pourra notamment couper l’accès au site pour des raisons opérationnelles, de maintenance ou en cas d’urgence.</p>
                    <p>2.2.3 - La nullité d’une ou plusieurs clauses des présentes conditions générales n’entrainera pas l’invalidité desdites conditions générales.</p>
                    <p>2.2.4 - La société Zoomalia se réserve le droit de modifier les présentes Conditions Générales de Vente. En cas de modification, les nouvelles Conditions Générales de Vente s’appliqueront immédiatement pour toute_ nouvelle commande après information donnée aux Utilisateurs par n’importe quel moyen rendu disponible par la société Zoomalia.</p>
                    <p>2.2.5 - Tout litige amenant la société Zoomalia devant un Tribunal devra être porté devant une juridiction territoriale compétente en vertue du code de procédure civile soit la juridiction du lieu ou le client demeurait au moment de la conclusion du contrat ou de la survenance du fait dommageable. En cas de litige, les tribunaux français seront seuls compétents.</p>
                    <p>La loi applicable est exclusivement la loi française.</p>
                    <p><a href="#">Contact</a></p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTwenty">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwenty" aria-expanded="false" aria-controls="collapseTwenty">               
                1.19  <span class="text-secondary">Médiation de la consommation</span>
            </button>
            </h2>
            <div id="collapseTwenty" class="accordion-collapse collapse" aria-labelledby="headingTwenty" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Conformément aux dispositions des articles L 611-1 et R 612-1 et suivants du Code de la Consommation concernant le règlement amiable des litiges : Lorsque le consommateur a adressé une réclamation écrite au professionnel et qu’il n’a pas obtenu satisfaction ou de réponse dans un délai de deux mois, il peut soumettre gratuitement sa réclamation au médiateur de la consommation. Le médiateur doit être saisi dans le délai maximal d’un an à compter de la réclamation initiale.</p>
                    <p>Le médiateur MEDIATION-NET peut être saisi directement en ligne à l'adresse suivante :</p>
                    <p>www.mediation-net-consommation.com - ou par courrier MEDIATION-NET Consommation - 34, rue des Épinettes - 75017 PARIS</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}