{% extends "base.html.twig" %}

{% block title %}La Nimes'alerie - confidentialité{% endblock %}

{% block body %}
    <h2 class="text-warning text-center pt-5 fw-bold m-2 m-md-0">Conditions générales de vente</h2>
    <div class="accordion accordion-flush mx-lg-5 mx-2 my-5" id="accordionExample">
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingOne">
            <button class="border_cgu fs-3  text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                1.1 <span class="text-secondary">Réglementation générale de la protection des données (RGDP) - Mai 2018</span>
            </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>Nous vous informons que les données personnelles de nos clients seront traitées en conformité avec les principes de transparence, de limitation de la finalité, de minimisation de données, d’exactitude, d’intégrité et confidentialité, tout en respectant les obligations et garanties établies par le Règlement (UE) 2016/679 du Parlement Européen et du Conseil Européen du 27 avril 2016 relatif à la protection des personnes physiques concernant le traitement des données personnelles et à la libre circulation de ces données.</p>
                    <p>Afin d’être en accord avec le Règlement mentionné, nous avons actualisé notre politique de confidentialité.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTwo">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">               
                1.2  <span class="text-secondary">Responsable</span>
            </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                   <p>ZOOMALIA / E2EVOLUTION 651 Route du Pays de Gosse 40230 Saint Geours de Maremne</p>
                   <p>Téléphone : 0 892 487 487 - E-mail: rgpd-dpo@zoomalia.com.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFour">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">               
                1.3  <span class="text-secondary">Finalité du traitement</span>
            </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    Nous traitons les informations que vous nous envoyez dans le but de vous fournir le service sollicité, de vous transmettre des messages concernant les produits achetés ou similaires ainsi que pour réaliser la facture de celui-ci.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingFive">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">               
                1.4  <span class="text-secondary">Nature des données traitées</span>
            </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    Les données personnelles que nous traiterons sont vos données d’identification, de consultation et achats de produits ainsi que votre adresse de livraison afin de pouvoir effectuer le suivi de vos commandes et d'en assurer la livraison.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSix">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">               
                1.5  <span class="text-secondary">Temps de conservation</span>
            </button>
            </h2>
            <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary">
                    Les données fournies seront conservées tant que la relation commerciale est maintenue ou durant la période correspondant aux obligations légales.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingSeven">
            <button class="border_cgu collapsed fs-4 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">               
                1.6 <span class="text-secondary">Authentification</span>
            </button>
            </h2>
            <div id="collapseSeven" class="accordion-collapse collapse" aria-labelledby="headingSeven" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    Nous traitons vos données seulement si nous disposons de votre consentement libre et éclairé, et toujours en accord avec les finalités décrites.
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingEight">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">               
                1.7  <span class="text-secondary">Destinataires</span>
            </button>
            </h2>
            <div id="collapseEight" class="accordion-collapse collapse" aria-labelledby="headingEight" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <p>Nous ne céderons pas les données que vous nous fournissez à des tiers sauf dans le cas où il y aurait une obligation légale.</p>
                    <p>Si pour mener à bien les fonctions nécessaires mentionnées pour la prestation de services, vos données peuvent être traitées par des tiers qui seront chargés du traitement et qui seront obligés de répondre à leurs obligations légales de chargé de traitement, de préserver la confidentialité ainsi que le secret de l’information.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingNine">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">               
                1.8  <span class="text-secondary">Droits</span>
            </button>
            </h2>
            <div id="collapseNine" class="accordion-collapse collapse" aria-labelledby="headingNine" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                   <p>Vous êtes propriétaire des droits suivants concernant vos données à caractère personnel :</p>
                   <p>Droit à demander l’accès aux données personnelles,</p>
                   <p>Droit à demander une rectification ou une suppression,</p>
                   <p>Droit à demander la limitation ou l’opposition de son traitement,</p>
                   <p>Droit à la portabilité des données, </p>
                   <p>Révocation du consentement donné.</p>
                   <p>Pour exercer vos droits, vous devrez nous adresser un courriel à l’adresse rgpd-dpo@zoomalia.com en spécifiant le droit que vous souhaitez exercer.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item border-0 py-2">
            <h2 class="accordion-header" id="headingTen">
            <button class="border_cgu collapsed fs-3 text-secondary text-warning w-100 text-start" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTen" aria-expanded="false" aria-controls="collapseTen">               
                1.9  <span class="text-secondary">Les données vous concernant</span>
            </button>
            </h2>
            <div id="collapseTen" class="accordion-collapse collapse" aria-labelledby="headingTen" data-bs-parent="#accordionExample">
                <div class="accordion-body perso_accordeon_size text-secondary"> 
                    <div>
                        <h5 class="text-warning"> DEvenir membre sur La Nimes'alerie</h5>
                        <p>Devenir membre sur Zoomalia vous permet de bénéficier de services spécifiques et gratuits sur le site. Les seules informations obligatoires sont votre pseudo, votre email et votre mot de passe. Vous pouvez choisir de rendre visible ou non votre email sur votre profil public depuis votre interface membre. Votre email ne sera jamais transmise à des sociétés partenaires sans votre consentement, celle-ci servira uniquement à vous transmettre occasionnellement des messages relatifs à votre compte membre sur Zoomalia.</p>
                        <p>Les informations facultatives renseignées sur le compte membre nous permettent de mieux vous connaître afin de réaliser des statistiques agrégées sur les utilisateurs de Zoomalia (âge moyen, lieux de résidence...). Votre adresse postale ne sera jamais utilisée pour vous envoyer du courrier publicitaire, elle sera néanmoins utile si vous êtes le gagnant d'un jeu-concours organisé par Zoomalia !</p>
                        <p>Aucune information personnelle (nom, adresse...) n'est jamais vendue et transmise à des sociétés extérieures.</p>
                    </div>
                    <div>
                        <h5 class="text-warning">Inscription aux newsletters</h5>
                        <p>L'inscription à nos newsletters est gratuite et sans engagement de durée. Vous pouvez vous désinscrire à tout moment via votre interface membre ou grâce au lien de désabonnement au bas de chaque newsletter reçue.</p>
                    </div>
                    <div>
                        <h5 class="text-warning">Droit de rectification et de suppression</h5>
                        <p>Toutes les informations personnelles que nous détenons pour vous sont accessibles sur votre interface membre grâce au pseudo et mot de passe choisis au moment de votre inscription.</p>
                        <p>Vous pouvez vous désinscrire à tout moment de nos newsletters en renseignant votre adresse e-mail sur </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}