{% extends "base.html.twig" %}
{% block body %}
<title>La Nimes'alerie - Mentions légales</title>
    <section class="m-5 text-secondary">
        <h2 class="text-warning text-center my-5 fw-bold">Mentions Légales</h2>
        <h3 class="text-warning fw-bold">Publication du site</h3>
        <div>
            <p>Site édité par : </p>
            <p>Animalis  SAS</p>
            <p>6, Rue Maryse Bastié</p>
            <p>Evry Courcouronnes, 91080</p>
            <p>Tel : 01 69 91 53 53</p>
            <p>RCS Evry B 413 557 398</p>
            <p>Capital social : 1 100 000 €</p>
        </div>
        <div>
            <p>Directeur de la Publication : <br>Jean-Philippe Darnault</p>
            <p>Responsable du site :<br>François-Xavier Lehre</p>
            <p>Site réalisé par :<br>AWEVO<br>21 rue Jean Wolter, L-3544 Dudelange, Luxembourg<br>Tel : +352 26 51 60 1</p>
            <p>Site hébergé par :<br>PlateformSh</p>
            <p>Vidéos hébergés par :<br>PlateformSh</p>
        </div>
        <h3 class="text-warning fw-bold">Crédits photos et illustrations:</h3>
        <div>
            <p>Fotolia - Shutterstock</p>
            <p>Respect de la vie privée et des données personnelles</p>
            <p>Droit d'accès et de modification des données vous concernant
                Conformément à la réglementation en vigueur relative à la protection des personnes physiques à l'égard des traitements de données à caractère personnel, ce site a été déclaré auprès de la Commission Nationale Informatique et Libertés et enregistré sous le numéro 789168.</p>
            <p>Vous disposez d'un droit d'accès, de modification, de rectification et de suppression des données qui vous concernent (art. 26, 34 a` 38 de la loi "Informatique et Libertés" n°78-17 du 6 janvier 1978, modifiée en août 2004). Pour exercer ce droit, adressez-vous à : Animalis – 6 rue Maryse Bastié-91080 Courcouronnes
                Utilisation des cookies Animalis.com fait usage de cookies dans l'exploitation de son site internet. Ils ont pour but de signaler votre passage sur notre site. Les informations relatives à votre visite ne sont stockées que pour permettre les traitements statistiques. Ils nous permettent d'améliorer les fonctionnalités et les informations fournies par notre site pour mieux répondre à vos besoins. Ils ne sont en aucun cas cédés à des tiers. Nous vous rappelons que votre navigateur possède des fonctionnalités qui vous permettent de vous opposer à l'enregistrement de cookies, d'être prévenu avant d'accepter les cookies, ou de les effacer.</p>
            <p>© Copyright 2018 ANIMALIS. Respect des droits d'auteur <br>
            Tous droits réservés. L'usage ou la reproduction partielle même des textes, photos ou graphismes publiés sur ce site sont interdits sans l'accord de Animalis. Toute tentative donnera lieu à des poursuites.</p>
        </div>
    </section>
{% endblock %}