{% extends "base.html.twig" %}

{% block title %}La Nimes'alerie - CGU{% endblock %}

{% block body %}
    <section class="d-flex justify-content-center align-items-center flex-column my-5">
        <h1 class="fs-1 text-secondary">La Nimes'alerie, notre histoire</h1>
        <div class="text-center w-75">
            <p>Convaincu qu’avec un animal, la vie est plus belle, c’est en 1998 que Jean-Philippe Darnault crée La Nimes'alerie. Actuellement Président Directeur Général de l’enseigne, il ne cesse depuis lors de rappeler que « l’histoire d’La Nimes'alerie est surtout la grande aventure d’une équipe de passionnés d’animaux ».</p>
            <p>Dans les années 1990, on commençait tout juste à parler des bienfaits de la présence d’animaux dans les hôpitaux, à l’école ou auprès de personnes âgées. Si la moitié de la population était convaincue de ce que la vie avec un animal pouvait lui apporter, l’autre restait réservée notamment en raison des campagnes médiatiques de sensibilisation contre les nuisances dues aux chiens.</p>
            <p>À l’époque, les pionniers d’La Nimes'alerie ont dû aller contre quelques idées reçues pour faire entendre leur vision de la planète animale idéale</p>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2245.37277616847!2d37.61531071598288!3d55.75202629951927!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54a50b315e573%3A0xa886bf5a3d9b2e68!2sKremlin%20de%20Moscou!5e0!3m2!1sfr!2sfr!4v1631000294174!5m2!1sfr!2sfr" width="600" height="450" allowfullscreen="" loading="lazy" class="border border-secondary border-1 rounded-3"></iframe>
        </div>
    </section>
{% endblock %}