{% extends "base.html.twig" %}

{% block title %}La Nimes'alerie - Envoyer votre animal dans l'espace{% endblock %}

{% block body %}
    <section class="d-flex justify-content-center align-items-center flex-column">
        <div class="img_banniere">
            <h1 class="fs-1 text-white m-5 text-center">Envoyer votre animal dans l'espace</h1>
            <div class="p_section_space">
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="text-center">
                        <p>Vous avez toujours rêvé d'envoyer votre animal dans l'espace ? Après il peut se montrer très casse couille, ce serait mérité, histoire de lui rappeler qui est le maître, et bien aujourd'hui c'est possible, en partenariat avec colissimo nous sommes en mesure d'envoyer votre animal en orbite, rien que ça !</p>
                        <p class="d-none d-md-block">SUPER SERVICE, adipisicing elit.umque fugiat sum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5 d-flex justify-content-center align-items-center flex-column ">
            <div class="bg-white px-5 py-0">
                <p class="d-block d-md-none">SUPER SERVICE, adipisicing elit.umque fugiat sum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni consectetur doloribus voluptatem dolorum ullam ipsa natus deserunt reiciendis cumque fugiat suscipit hic, quaerat, autem excepturi expedita iure commodi laborum quia.</p>
            </div>
            <button class="btn btn-danger">ENVOYER !!!</button>
        </div>
    </section>
{% endblock %}