{% extends 'base.html.twig' %}
{% block body %}

<div>
    <div>{{ category.namecategory }}</div>
    <a href="{{ path('app_listCategory') }}">Aller à la liste des catégories</a>
</div>

{% endblock %}
