<form method="post" action="{{ path('user_admin_delete', {'iduser': useraccount.iduser}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer l\'utilisateur ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ useraccount.iduser) }}">
    <button class="border-0 text-white rounded-3 btn btn-danger">SUPPRIMER</button>
</form>
