<form method="post" action="{{ path('product_delete', {'idproduct': product.idproduct}) }}" onsubmit="return confirm('êtes vous sur de vouloir supprimer le produit ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.idproduct) }}">
    <button class="btn btn-danger text-white w-25 align-self-center my-4">Supprimer</button>
</form>
