<form method="post" action="{{ path('useraccount_delete', {'iduser': useraccount.iduser}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ useraccount.iduser) }}">
    <button class="btn">Delete</button>
</form>
