{% extends 'base.html.twig' %}

{% block title %}La Nimes'alerie - Modifier mon compte{% endblock %}

{% block body %}
<div class="row align-items-center my-5 bg-secondary rounded-3 text-white g-0">
    {{ include('useraccount/_form.html.twig') }}
</div>
{% endblock %}
