{% block company %}
<section class="container-fluid bg-light row text-secondary g-0 perso_shadow perso_card_width">
    <h2 class="text-center py-3 fw-bold fs-1">Qui est La Nîmes'alerie ?</h2>
    <div class="row mb-lg-5 m-0">
    <div class="col-lg-4 col-12"><img src="{{ asset ('images/lanimesalerie.png') }}" alt="photo de la Nimesalerie" class="w-100"></div>
    <div class="col-lg-8 col-12 fs-4 my-4 d-flex flex-column justify-content-center">
        <div class="my-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic quidem praesentium facilis.Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic quidem praesentium facilis.</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic quidem praesentium facilis.Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic quidem praesentium facilis.Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic quidem praesentium facilis.Nemo, quo eaque nam voluptates ipsa, reiciendis suscipit quod, voluptas fugiat repellat dolor labore cum ut? Dolorem repellat hic.</div>
    </div>
    </div> 
</section>
{% endblock %}