<div class="col-lg-9 col-11 d-md-block d-none">
    <div class="d-flex justify-content-between align-items-center ">
    
        <a href="/" class="fs-5 text-secondary">ACCUEIL</a>
    
        {% for animal in categories %}
            {% if animal.idcategoryparent is empty %}
              
                <a class="fs-5 text-secondary mx-3" href="/category/{{ animal.idcategory }}">{{ animal.nameCategory|upper }}</a>
                
            {% endif %}
        {% endfor %}
                    
    </div>
</div>

