{% block space %}
<section class="container-fluid row bg-light text-white g-0 justify-content-center align-items-center header_space_button py-5 d-none d-lg-flex">
    <a href="#"  class="col-6 text-white" id="bloc_img_space">
        <div id="back_img_space" class="d-flex align-items-center justify-content-center flex-column text-center">
            <div class="p-3 d-flex align-items-center justify-content-center flex-column text-center">
                <h3 class="pb-3">ENVOYER VOTRE ANIMAL DANS L'ESPACE</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam eveniet perspiciatis,</p>
                <p>voluptates suscipit odio veritatis quod quis possimus dolore doloremque nulla aliquid quidem quisquam. Nisi at quia laudantium vel tenetur!</p>
            </div>
        </div>
    </a>
</section>
{% endblock %}